.movie__left img {
    max-width: 80%;
}

.movie__name {
    font-size: 1rem;
    color: white;
}

.movie__type {
    color: darkgray;
}

.movie__rating i {
    color: #10b981;
}

.title__date {
    margin-bottom: 0;
    color: #737373;
}

.movie__showtime {
    font-size: 1rem;
    font-weight: bold;
}

.cinema__info__modal h3 {
    font-size: 1rem;
    color: darkgray;
}

.cinema__info__modal .cinema__name {
    font-weight: bold;
}

.cinema__info__modal .cinema__address {
    color: darkgrey;
}

.btn--seat--select {
    font-weight: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.4rem 1rem;
    font-weight: bold;
    color: var(--primary-color);
    background: var(--btn-primary);
}

.btn--seat--select:hover {
    background-color: rgba(255, 48, 90, 0.8);
    color: var(--primary-color);
}
