* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* color text */
    --primary-color: #fff;
    --second-color: #ff1744;

    /* color background */
    --bg-main-body: #060f19;
    /* btn color */
    --btn-primary: #ff1744;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 1px;
}